@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$font-family-titles: 'Righteous', cursive;

/* Ocean Liner Pallete */
/* RGB */
$deep-brown: rgba(13, 1, 6, 1);
$close-to-white: rgba(239, 239, 239, 1);
$near-atom-dark: rgba(43, 48, 58, 1);
$bright-blue: rgba(64, 86, 244, 1);
$off-close-to-white: rgba(232, 241, 242, 1);

/* END PALLETE */

$white: #fff;
$dark-navy: #23272a;
$gray:  	#99aab5;
$in-between-gray: 	#2c2f33;

$navbar-item-hover-background-color: none;

h1.title {
  font-size: 6em;
  font-family: $font-family-titles;

  color: $close-to-white;
}

h2.subtitle {
  font-size: 1.5em;
  color: $off-close-to-white;

}
.big-body {
  background-color: $near-atom-dark;
}

.full-space-content {
  background-color: $off-close-to-white;
}
.timeline-frame {
  padding: 1em;
}

.nvb {
  background-color: #fff;
}

.lg-txt {
  font-size: 2em;
}

.foot5 {
  background-color: $near-atom-dark;
  margin-top: 2em;
  color: $off-close-to-white;
}

@import "../node_modules/bulma/bulma";
